* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  font-family: sans-serif;
  background: #101829;
  min-height: 100vh;
}

header {
  color: #fff;
  background: linear-gradient(#172749, #101829);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 0 40px;
  z-index: 100;
  transition: background 0.3s;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 32px;
  border-radius: 4px;
  transition: background 0.2s, color 0.2s;
}

nav a:hover {
  background: #00ffcc;
  color: #101829;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: 120px;
  width: 100%;
  flex-wrap: wrap;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

.right {
  max-width: 500px;
  color: #fff;
  text-align: center;
}

#welcome {
  font-size: 2.5rem;
  color: #fff;
  margin: 32px 0 24px 0;
  text-align: center;
  font-weight: 700;
}

.cursor {
  border-right: 2px solid #fff;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    border-color: rgb(255, 255, 255);
  }
}

.imagePerfil img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin-bottom: 32px;
  display: block;
}

.imagePerfil img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

#Skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

#Skills img {
  width: 60px;
  height: 60px;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}

#Skills img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

#title-projects {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  margin-top: 60px;
}

.AboutMe {
  color: #fff;
  max-width: 500px;
  margin: 0 40px;
  text-align: center;
}

.AboutMe h1 {
  font-size: 2.5rem;
  text-align: center;
}

.AboutMe p {
  text-align: center;
  font-family: sans-serif, inter;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #172749;
  color: #fff;
  margin-top: 60px;
  width: 100%;
  position: relative;
}